header{
    background: white;
}

body{
    background: lightgray;
}
div {
    padding: 20px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    width: 600px;
    height:100px;
}